/*--[=2e:Tables]--*/
	table{margin:0 0 1em 0;width:100%;border:1px solid #ccc;}
		caption{text-align:left;padding:0 0 0.5em 0;}
		td,th{padding:0.35em 1em;text-align:left;border:1px dotted #ccc;}
		thead{border-bottom:2px solid #ccc;font-weight:bold;}
			thead th{border-style:solid;background:#eee;text-shadow:0 1px 1px #fff;}
		tfoot{font-style:italic;}