<!doctype HTML>
<!--[if lt IE 7]><html class="noscript oldie" id="pg-me" lang="en"> <![endif]-->
<!--[if lt IE 9]><html class="noscript ie8" id="pg-me" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript" id="pg-me" lang="en"  ><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>About me : {site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">It's all about me</h1>
			<div id="gl-content_wrapper" class="clearfix">
				{exp:channel:entries channel="page" disable="categories|member_data|pagination" status="open" limit="1" dynamic="no" entry_id="12"}		
					
					<article class="app-division">
						<h1 class="app-page_title">My name is Jack; I’m a web designer</h1>
						<div class="app-standfirst mod-gridunit gu-center gu-four">
							{page-standfirst}
						</div>
						<div class="app-setcol setcol-three">
							{page-body}		
						</div>
					</article>
				{/exp:channel:entries}		
				<aside id="gl-content_sec" class="clearfix app-division">
					<h1>Recently, on the twitter&hellip;</h1>
					{exp:twitter_timeline screen_name="jackarmley" limit="3" twitter_refresh="30" use_stale_cache="yes" create_links="user_mentions|hashtags|urls"}
						<article class="mod-listitem ext-tweet mod-gridunit gu-float gu-two">
							<blockquote>
								<p>&quot;{text}&quot;</p>
								<footer>
									<p>{status_relative_date} ago</p>
								</footer>					
							</blockquote>
						</article>
					{/exp:twitter_timeline}
				</aside>
				<aside id="pg-me_instagram" class="clearfix app-division">
					<h1>Latest from Instagram&hellip;</h1>	
					<ul class="app-plainlist">
						{exp:magpie url="http://followgram.me/jackarmley/rss" limit="6" refresh="720"}
							{items}
							<li class="mod-gridunit gu-float gu-two">
								<figure>
									{description}
										{image_url}
										<figcaption>{title}</figcaption>
									{/description}
								</figure>
							</li>	
							{/items}
						{/exp:magpie}
					</ul>	
				</aside>	
				<aside id="pg-me_pinterest">
					<h1>Freshly pinned&hellip;</h1>	
					<ul class="app-plainlist app-setcol setcol-four">
						{exp:magpie url="http://pinterest.com/jackalope/feed.rss" limit="9" parse="inward" refresh="720"}
							{items}
							<li>
								<figure>
										{exp:low_replace find="_b.jpg|/pin/|<p><a|</p></a>" replace="_c.jpg|http://pinterest.com/pin/|<a|</a>" multiple="yes"}
											{exp:tagstripper:tagsToSave tags="a|img|figcaption|p"}
												{description}
													{image_url}
													<figcaption>
														{title}&hellip;
													</figcaption>	
												{/description}
											{/exp:tagstripper:tagsToSave}	
										{/exp:low_replace}
								</figure>
							</li>	
							{/items}
						{/exp:magpie}
						
					</ul>	
				</aside>
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>