<!doctype HTML>
<!--[if lt IE 9]><html class="noscript oldie" id="pg-articles" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript" id="pg-articles" lang="en"  manifest="jackarmley.appcache?v=1"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Articles : {site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">Articles</h1>
			<div id="gl-content_wrapper" class="clearfix">
				{exp:channel:entries channel="blog" disable="categories|member_data|pagination" status="open" limit="1" dynamic="no" sort="desc" show_future_entries="yes"}
					<article class="clearfix app-division">
						<div class="mod-gridunit gu-center gu-four">
							<h1 class="app-page_title"><a href="{title_permalink='articles/post'}" title="Read more">{title}</a></h1>
							{if blog-image}
								{blog-image limit="1"}
									<figure class="app-imgwithfig_pri">
										<a href="{title_permalink='articles/post'}" title="Read more">
											<img src="{blog-image_image}" alt="{blog-image_alt}" {if blog-image_border == "yes" }class="app-border"{/if} />
										</a>
										<figcaption>{blog-image_caption}</figcaption>
									</figure>		
								{/blog-image}
							{if blog-thumb}
								{blog-thumb limit="1"}
									<figure class="app-imgwithfig_pri">
										<a href="{title_permalink='articles/post'}" title="Read more">
											<img src="{blog-thumb_image}" alt="{blog-thumb_alt}" {if blog-thumb_border == "yes" }class="app-border"{/if} />
										</a>
										<figcaption>{blog-thumb_caption}</figcaption>
									</figure>		
								{/blog-thumb}
							{/if}
							<div class="app-setcol setcol-two">
								{blog-body}
							</div>
						<a class="app-button ext-center" href="{title_permalink='articles/post'}" title="Read more">Read more</a>
						</div>
					</article>	
				{/exp:channel:entries}
				<div class="app-grid_listing clearfix">
					{exp:channel:entries channel="blog" disable="categories|member_data|pagination" status="open" limit="15" offset="1" dynamic="no" sort="desc" show_future_entries="yes"}
						<article class="mod-gridunit gu-float {switch='||gu-last'} gu-two">
							<h1><a href="{title_permalink='articles/post'}" title="Read more">{title}</a></h1>
							{blog-summary}
							<a class="app-button ext-receessive" href="{title_permalink='articles/post'}" title="Read more">Read more</a>
						</article>
						{switch="||<div class='clear'></div>"}
					{/exp:channel:entries}
				</div>
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>