<!doctype HTML>
<!--[if lt IE 9]><html class="noscript oldie" id="pg-home" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="noscript" id="pg-home" lang="en" manifest="jackarmley.appcache?v=1"><!--<![endif]-->
	<head>
		<meta charset="utf-8" /> 
		<title>{site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">My name's Jack; I'm a web designer</h1>
			<div id="gl-content_wrapper" class="clearfix">
				<div id="pg-home_intro">
					<p class="app-page_title app-division">My idea of a good time is writing a nice bit of semantic markup, or some extensible <abbr title="Cascading Style Sheets">CSS</abbr></p>
					<div class="app-division clearfix">
						<article class="mod-gridunit gu-float gu-three">
							<h1 class="app-ico ico_view">I've recently worked on</h1>
							{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="Featured" sort="desc" limit="1" dynamic="no" show_future_entries="yes"}
								{work-thumb limit="1"}
									<img src="{-matrix-work-thumb_image}" alt="{-matrix-work-thumb_alt}" />
								{/work-thumb}
								{work-summary}
								<a class="app-button ext-receessive" href="{title_permalink='v2-work/detail'}">Read more</a>
							{/exp:channel:entries}
						</article>
						<article class="mod-gridunit gu-float gu-last gu-three">
							<h1 class="app-ico ico_edit">I've just written</h1>
							{exp:channel:entries channel="blog" disable="categories|member_data|pagination" status="open" limit="1" sort="desc" show_future_entries="yes"}
								{blog-thumb limit="1"}
									<img src="{blog-thumb_image}" alt="{blog-thumb_alt}" />
								{/blog-thumb}
								{blog-summary}
								<a class="app-button ext-receessive" href="{title_permalink='v2-articles/post'}">Read more</a>
							{/exp:channel:entries}
						</article>
					</div>
					<section class="mod-gridunit gu-float gu-two">
						<h1 class="app-ico ico_heart">I'm loving</h1>
						<p><a href="" title="">Gridpak</a> by Erskine design, <a href="" title="">SMACSS</a> by Jonathan Snook, <a href="" title="">Flipboard</a> for iPhone and <a href="" title="">Chrome beta's</a> user&ndash; agent string switcher.</p>
					</section>
					<section class="mod-gridunit gu-float gu-two">
						<h1 class="app-ico ico_settings">I'm using</h1>
						<p>The principles from <a href="" title="">SMACSS</a> by Jonathan Snook, <a href="" title="">Firefox Aurora's</a> developer tools and <a href="" titl="">Snowcone</a>, an icon font I've been working on with the Tangent Snowball team.</p>
					</section>
					<article class="ext-tweet mod-gridunit gu-last gu-float gu-two">
						<h1 class="app-ico ico_twitter">From the twitter</h1>
						{exp:twitter_timeline screen_name="jackarmley" limit="1" twitter_refresh="30" use_stale_cache="no" create_links="user_mentions|hashtags|urls"}
							<blockquote>
								<p>&quot;{text}&quot;</p>
								<footer>
									<p>{status_relative_date} ago</p>
								</footer>					
							</blockquote>
						{/exp:twitter_timeline}
					</article>
				</div>		
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>