<!doctype HTML>
<!--[if lt IE 9]><html class="p-work_detail noscript oldie" id="pg-work" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="p-work_detail noscript" id="pg-work" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="Open|Featured" limit="1" show_future_entries="yes"}{title}{/exp:channel:entries} &ndash; Work : {site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">Work</h1>
			<div id="gl-content_wrapper" class="clearfix">
				{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="Open|Featured" limit="1" show_future_entries="yes"}
					<article class="clearfix">
						<div class="state-slider clearfix">
							<ul class="slides">
								{work-slides}
								<img src="{-matrix-work-slides_image}" alt="{-matrix-work-slides_alt}" />
									<li>
										<figure>
											<img src="{-matrix-work-slides_image}" alt="{-matrix-work-slides_alt}" />
											<figcaption>{-matrix-work-slides_caption}</figcaption>
										</figure>
									</li>
								{/work-slides}
							</ul>
						</div>
						<h1 class="app-page_title">{title}</h1>
						<div class="mod-gridunit gu-float gu-four">
							{work-standfirst}
							{work-body}	
							{work-extended}			
						</div>
						<aside class="mod-gridunit gu-float_rt gu-last gu-two">
							<ul class="app-plainlist ext-icons app-panel app-setflushwithparagraph">
								{if work-url}
									<li><a class="app-ico ico_link" href="{work-url}" title="Visit {work-url}">Visit site</a></li>
								{/if}
								<li><a class="app-ico ico_outline_left" href="{path='v2-work'}" title="">Back to work listing</a></li>
							</ul>
						</aside>	
					</article>	
				{/exp:channel:entries}
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>