<!doctype HTML>
<!--[if lt IE 9]><html class="noscript oldie" id="pg-work" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript" id="pg-work" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Work : {site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">Work</h1>
			<div id="gl-content_wrapper" class="clearfix">
				{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="Featured" limit="1" dynamic="no" show_future_entries="yes"}
					<article class="clearfix app-division">
						{work-slides limit="1"}
							<img src="{-matrix-work-slides_image}" alt="{-matrix-work-slides_alt}" />
						{/work-slides}
						<h1 class="app-page_title">{title}</h1>
						<div class="app-setcol setcol-three">
							{work-body}
						</div>
						<a class="app-button ext-center" href="{title_permalink='v2-work/detail'}" title="Read more">Read more</a>
					</article>	
				{/exp:channel:entries}
				<div class="app-grid_listing clearfix">
					{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="open" limit="15" sort="asc" orderby="title" dynamic="no" show_future_entries="yes"}	
						<article class="mod-gridunit gu-float {switch='||gu-last'} gu-two">
							<h1>{title}</h1>
							{work-summary}
							<a class="app-button ext-receessive" href="{title_permalink='v2-work/detail'}" title="Read more">Read more</a>
						</article>
					{/exp:channel:entries}
				</div>
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>