<!doctype HTML>
<!--[if IE 7 ]>    <html class="noscript oldie ie7 pg-articles_illupost" id="pg-articles" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="noscript oldie ie8 pg-articles_illupost" id="pg-articles" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript pg-articles_illupost" id="pg-articles" lang="en"><!--<![endif]-->
	<head>
		<title>Jack Armley | Articles</title>
		{snpt-meta}
	</head>
	<body class="clearfix">
		{snpt-header}
		<article id="gl-content_wrapper">
			{exp:channel:entries channel="blog|note" disable="categories|member_data|pagination" status="open" sort="desc" show_future_entries="yes"}
			{if note-image}
			<figure class="mod-img_pri">
				{note-image}
				<figcaption>Caption</figcaption>
			</figure>
			{/if}
			<h1 class="app-page_title">{title}</h1>
			<div id="gl-content-pri">
				{blog-standfirst}
				{blog-body}
				{blog-extended}	
				{note-body}						
			</div>
			<aside id="gl-content-sec">
				<h1 class="inv">Post details</h1>
				<h2 class="app-shavetopmargin">{entry_date format="%F %j%S, %Y"} under:</h2>	
				<ul class="plain icons">
					<li class="app-ico ico_tag">CSS</li>
					<li class="app-ico ico_tag">Opinion</li>
				</ul>
			</aside>
			{/exp:channel:entries}
		</article>
	</body>		
</html>