DOCTYPE html>
<html lang="en-gb">
	<head>
		<!--[if lte IE 6]>
			<meta http-equiv="refresh" content="0; url=/hi_there_ie6_user.html" />
			<script type="text/javascript">
			/* <![CDATA[ */
			window.top.location = '/hi_there_ie6_user.html';
			/* ]]> */
			</script>
		<![endif]-->
		<meta charset="utf-8"/>
		<title>Jack Armley | Quick note | {exp:channel:entries channel="note" disable="categories|custom_fields|member_data|pagination" status="open" limit="1" show_future_entries="yes"}{title}{/exp:channel:entries}</title>
		<link rel="icon" href="{site_url}favicon.ico" type="image/x-icon" />
		<meta name='description' content='My name&#x27;s Jack; I&#x27;m a web designer &amp; I have written a blog post called &quot;{exp:channel:entries channel="blog" disable="categories|custom_fields|member_data|pagination" status="open" limit="1" show_future_entries="yes"}{title}{/exp:channel:entries}&quot;' />
		<link rel="stylesheet" href="{site_url}css/screen.css" media="screen"/>
		<script src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("jquery", "1.5.2");
			google.load("jqueryui", "1.8.11");
		</script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{site_url}scripts/selectivizr.js"></script>
		<![endif]-->
		<script src="{site_url}scripts/script_functions.js"></script>
	</head>
	<body id="tg_blog" class="t_note">
		<div id="site_wrapper" class="clearfix">
			<header role="banner" class="unit float five">
				<h1 class="replaced"><a href="{site_url}" title="Back home then?">Jack Armley</a></h1>
				<nav role="navigation">
					<ul>
						<li class="current">
							<a class="replaced" href="{path="blog"}" title="Putting what's in my head, to virtual paper">
								<span>Blog</span>
							</a>
						</li>
						<li>
							<a class="replaced" href="{path="work"}" title="Web stuff made with my own two hands">
								<span>Work</span>
							</a>
						</li>
						<li>
							<a class="replaced" href="{path="about"}" title="What makes me tick?">
								<span>About</span>
							</a>
						</li>
						<li>
							<a class="replaced" href="{path="contact"}" title="A word in my ear?">
								<span>Contact</span>
							</a>
						</li>
					</ul>	
				</nav>
			</header>
{exp:channel:entries channel="whyilove" disable="categories|custom_fields|member_data|pagination" status="open" limit="1" sort="desc" orderby="random" dynamic="no"}			
			<a id="whyilove" href="{title_permalink="ilove"}" title="Why do I love {title}?">I&#x27;m a web designer and I <span class="replaced">love</span> {title}</a>
			<script>
				$(document).ready(function() {
					$("#whyilove").click(function() {
 						$("body").prepend("<iframe src='{title_permalink="ilove"}' width='100%' height='100%' id='whyilove_iframe'></iframe>");
 						setTimeout(function() {$('#whyilove+#close').fadeIn(100);},2000);
					});	
				});
			</script>
{/exp:channel:entries}	
			<div id="content_wrapper" class="unit float last nineteen">	
				<section role="main">
{exp:channel:entries channel="note" disable="categories|member_data|pagination" status="open" limit="1" show_future_entries="yes"}
					<article>
						<h1>{title}</h1>
						<footer>
							<p>Posted on {entry_date format="%F %j%S, %Y"}</p>
						</footer>	
						{note-image}
							{exp:imgsizer:size src="{-matrix-note-image_file}" width="745"}
								<figure>
									<img src="{sized}" width="{width}" height="{height}" alt="{-matrix-note-image_alt}" />
									{if -matrix-note-image_caption}
										<figcaption>{-matrix-note-image_caption}</figcaption>
									{/if}
								</figure>
							{/exp:imgsizer:size}
						{/note-image}
						{note-body}
						<div id="disqus_thread">
						</div>
						<script type="text/javascript">
						    var disqus_shortname = 'jackarmley';
						    var disqus_identifier = '{entry_id}';
						    var disqus_url = '{site_url}index.php/blog/note/{url_title}';
						    (function() {
						        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
						</script>
						<p id="footer_links"><a href="{path="blog"}" title="Want to read more eh? Return to the blog page">Go back to the blog page</a></p>
					</article>	
{/exp:channel:entries}
				</section>
			</div>
		</div>
		{globalvar-footer}
	</body>		
</html>