<!doctype HTML>
<!--[if lt IE 7]><html class="noscript oldie" id="pg-work" lang="en"> <![endif]-->
<!--[if lt IE 8]><html class="noscript ie8" id="pg-work" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript" id="pg-work" lang="en"  ><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Work : {site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">Work</h1>
			<div id="gl-content_wrapper" class="clearfix">
				{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="Featured" limit="1" dynamic="no" show_future_entries="yes"}
					<article class="clearfix app-division">
						{work-slides limit="1"}
							<figure class="app-imgwithfig_pri">
								<a href="{title_permalink='work/detail'}" title="Read more">
									<img src="{-matrix-work-slides_image}" alt="{-matrix-work-slides_alt}" />
								</a>
							</figure>
						{/work-slides}
						<h1 class="app-page_title"><a href="{title_permalink='work/detail'}" title="Read more">{title}</a></h1>
						<div class="app-setcol setcol-three">
							{work-body}
						</div>
						<a class="app-button ext-center" href="{title_permalink='work/detail'}" title="Read more">Read more</a>
					</article>	
				{/exp:channel:entries}
				<div class="app-grid_listing clearfix">
					{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="open" limit="15" sort="desc" dynamic="no" show_future_entries="yes"}	
						<article class="mod-gridunit gu-float {switch='||gu-last'} gu-two">
							<h1><a href="{title_permalink='work/detail'}" title="Read more">{title}</a></h1>
							{work-thumb limit="1"}
								<figure>
									<a href="{title_permalink='work/detail'}" title="Read more">
										<img src="{-matrix-work-thumb_image}" alt="{-matrix-work-thumb_alt}" class="app-border" />
									</a>
								</figure>
							{/work-thumb}
							{work-summary}
							<a class="app-button ext-receessive" href="{title_permalink='work/detail'}" title="Read more">Read more</a>
						</article>
						{switch="||<div class='clear'></div>"}
					{/exp:channel:entries}
				</div>
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>