<!doctype HTML>
<!--[if IE 7 ]>    <html class="noscript oldie ie7 pg-work_home " id="pg-work" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="noscript oldie ie8 pg-work_home" id="pg-work" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript pg-work_home" id="pg-work" lang="en"><!--<![endif]-->
	<head>
		<title>Jack Armley | Work</title>
		{snpt-meta}
	</head>
	<body class="clearfix">
		{snpt-header}
		<section id="gl-content_wrapper">
			<h1 class="app-page_title state-nopreceedingimg">I love building things for the web</h1>
			<div id="gl-content-pri">
				{exp:channel:entries channel="work" disable="categories|member_data|pagination" status="open|Featured" sort="desc" orderby="random" dynamic="no" show_future_entries="yes"}	
				<article class="mod-listitem state-workitem">
					<a href="{title_permalink="work-new/detail"}" title="Read more about {title}">
						<h1>{title}</h1>
						{work-slides limit="1"}	
							<img src="{-matrix-work-slides_image}" alt="{-matrix-work-slides_alt}" />
						{/work-slides}
					</a>		
				</article>
				{/exp:channel:entries}
			</div>
		</section>
	</body>		
</html>
