				li {list-style: none;}
				
				/* IE float hacks */
				* html .required,
				* html #nav-nav,
				* html .first-time,
				* html #add_navItem,
				* html .navee_edit_form,
				* html #add-nav-group {
					height: 1%;
				}
				
				*:first-child+html .required,
				*:first-child+html #nav-nav,
				*:first-child+html .first-time,
				*:first-child+html #add_navItem,
				*:first-child+html .navee_edit_form,
				*:first-child+html #add-nav-group {
					height: 1%;
				}
				
				
				.required:after,
				.actions:after,
				#nav-nav:after,
				.first-time:after,
				#add_navItem:after,
				.navee_edit_form:after,
				#add-nav-group:after{
					clear:both;
					content:".";
					display:block;
					height:0;
					visibility:hidden;
				}
				
				#add_navItem form, .naveeCPForm, #add-nav-group form {float: left; }
				
				.pageContents {position: relative;}
				
				
				/* Main content area rules */
				#navEE {
					padding: 1em 2em 2em 2em;
					font-family: Helvetica, Arial, sans-serif;
					color: #51463D;
					font-size: 1.4em;
				}
	
				#navEE h1 {
					font-size: 22px;
					color: #5F6C74;
					margin-bottom: 14px;
				}
				
				#navEE h1 span {
					color: #666;
				}
								
				#navEE h2 {
					font-size: 1.4em;
					margin-bottom: 1em;
					font-weight: normal;
					
					margin: -.4em 0 1em 0;
					color: #666;
				}
				
				#navEE h3 {
					font-size: 1.2em;
					margin-bottom: 1em;
				}
				
				#navEE .description {
					padding: 0px 20px 20px 0px;
				}
				
				#navEE .box {
					width: 47%;
					float: left;
					padding: 10px;
				}
				
				#navEE .box h2 {
					padding: 0 0 2px 0;
					margin: 0;
				}
				
				#navEE .clear {
					clear:both;
					display: block;
				}
				
				#navEE .first-time {
					background:#ECF1F4;
					background:#fff;
					width: 90%;
					padding-bottom: 40px;
					margin-bottom: 40px;
					border:1px solid #cbd1d2;
					-moz-box-shadow:1px 1px 7px rgba(153, 153, 153, 0.2);
					-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
					padding: 34px;
				}
				
				#support {
					width: 200px;
					float: right;
					border-left: 1px solid #ccc;
					padding: 10px 20px;
					margin-left: 40px;
				}
				
				#navEE .first-time p {
					font-size: 1em;
					padding: 0 0 10px 0;
				}
				
				
				#navEE .first-time h2 {
					margin: 10px 0 0 0;
					padding: 0;
				}
				
				#navEE .first-time h3 {
					margin: 20px 0 0px 0;
				}
				#navEE #support {line-height: 1.3em;}
				#navEE #support h3 {
					margin: 0 0 10px 0;
				}
				
				#navEE #support a {display: block; margin-top: 6px; }
				
				#navEE pre {
					font-size: 16px;
					color: #fff;
					padding: 0;
					margin: 0;
				}
				
				#navEE a.lg {font-size: 14px; padding: 10px 20px;}
				
				#navEE code {
					background-color: rgba(158, 171, 181, 1);
					border-bottom-left-radius: 15px 15px;
					border-bottom-right-radius: 15px 15px;
					border-top-left-radius: 15px 15px;
					border-top-right-radius: 15px 15px;
					display: block;
					font-family: Courier, monospace;
					font-size: 1.5em;
					padding: 20px;
					margin: 0;
				}
				
				#navEE a.button {
					background-color:rgba(55, 146, 179, 0.8);
					border: none;
					-moz-border-radius:12px;
					-webkit-border-radius: 12px;
					padding: 1em 1em;
					color: #fff;
					font-size: 1.2em;
					font-family: Helvetica;
					font-weight: bold;
					clear: both;
				}
				
				#navEE a.sm_button{
					background-color:rgba(55, 146, 179, 0.8);
					border: none;
					-moz-border-radius:12px;
					-webkit-border-radius: 12px;
					padding: .2em 1em;
					color: #fff;
					font-size: 1em;
					font-family: Helvetica;
					font-weight: bold;
					clear: both;
				}
				
				#navEE a.button:hover, #navEE a.sm_button:hover {
					background-color: #666;
					text-decoration: none;
				}
				
				
				
				#navEE .navee_alert {
					background: #fff;
					font-size: 14px;
					line-height: 18px;
					padding: 20px;
					width: 200px;
					border: 10px solid #ddd;
					position: absolute;
					left: 50%;
					top: 100px;
					z-index: 99999;
					-webkit-box-shadow: 0px 0px 20px #000;
					-moz-box-shadow: 0px 0px 20px #000;
					box-shadow: 0px 0px 20px #000;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}
				
				#navEE .navee_helper {
					
					background: #fff;
					font-size: 14px;
					line-height: 18px;
					padding: 20px;
					width: 200px;
					border: 10px solid #ddd;
					position: absolute;
					left: 500px;
					top: 100px;
					z-index: 99999;
					/*--CSS3 Box Shadows--*/
					-webkit-box-shadow: 0px 0px 20px #000;
					-moz-box-shadow: 0px 0px 20px #000;
					box-shadow: 0px 0px 20px #000;
					/*--CSS3 Rounded Corners--*/
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;

				}
				
				#navEE .navee_alert h2 {
					color: #fff;
					padding: 0;
					margin: 0;
				}
				
				#navEE .hidden {
					display: none;
				}

				#navEE a.x {
					display: inline-block;
					position: absolute;
					font-size: 12px;
					padding: 0 6px;
					top: -14px;
					left: -14px;
					color: #fff;
					border: 6px solid #e7174b;
					background: #e7174b;
					-moz-border-radius:20px;
					-webkit-border-radius: 20px;
				}
				
				#navEE a.navee_trash_no_dump {
					left: 58px;
				}
				
				
				#navEE a.x:hover {
					background-color:#870026;
					text-decoration: none;
				}
				
				#navEE table.mainTable td div {
					position: relative;
					padding: 10px;
					line-height: 1.2em;
				}
				
				#navEE .navee_th_name, #navEE .navee_th_title, #navEE .navee_th_desc {
					width: 31%;
				} 
				
				#navEE .mainTable a.navee_delete, #navEE .mainTable a.navee_edit {
					
					
					
				}
				
				#navEE .mainTable a.navee_delete {display: inline-block; position: relative;}
				
				/* Rules for icons */ 			
				#navEE .icn {
					position: absolute;
					top: 6px;
					right: 0;
					display: none;
					padding: 5px 6px;
					-moz-border-radius:5px;
					-webkit-border-radius: 5px;
					margin-right: 5px;
				}
				
				#navEE .mainTable .icn {
					position: absolute;
					top: 0;
					right: -7px;
					
				}
				
				#navEE .mainTable a.navee_accept {
					top: 8px;
				}
				#navEE .icn:hover {
					background: #666;
					background:-moz-linear-gradient(center top , #666, #888) repeat scroll 0 0 transparent;
					background: -webkit-gradient(linear,  left top, left bottom, from(#666), to(#888));
				}
				#navEE .mainTable .icn:hover {
					background: #fff;
				}
				#navEE .navee_code {
					right: -10px;
				}
				#navEE .navee_edit {
					right: 20px;
				}
				#navEE .navee_trash {
					right: -40px;
				}
				
				
				
				/* UI */
				
				#navee_cp_nav {
					margin-top: 30px;
				}
				
				#navEE #navee_cp_nav ul {
					padding: 10px 0 24px 0; 
					list-style: none;
					margin: 0;
                    background: url(../img/line-vert.gif) 0 0 no-repeat;
                    color: #fff;
                    font-size: 14px;
                }
                
                #navEE div#navee_cp_nav ul ul {
					margin: 10px 0px 5px 60px;
				}
                
                div#navee_cp_nav ul li {
					position: relative;
					padding: 2px 0px 2px 20px;
					margin: 2px 0;
					background: url(../img/line.gif) 0 20px no-repeat;
					width: 260px;
				}
				
				
         		#navEE #navee_cp_nav ul ul li span {
         			background: #666;
         			background:-moz-linear-gradient(center top , #888, #666); 
         			background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#666));
         			color: #fff;
         		}
         		
         		
				#navEE #navee_cp_nav ul ul ul li span{
					background: #444;
					background:-moz-linear-gradient(center top , #666, #444); 
					background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
					color: #fff;
				}
				#navEE #navee_cp_nav ul ul ul ul li span { 
					background: #222;
					background:-moz-linear-gradient(center top , #444, #222);
					background: -webkit-gradient(linear,  left top, left bottom, from(#444), to(#222));
				}
				
				
				.navee_cp_text {
					display: block;
					background: #888;
					background:-moz-linear-gradient(center top , #aaa, #888);
					background: -webkit-gradient(linear,  left top, left bottom, from(#aaa), to(#888));
					padding: 10px 20px 8px 20px;
					width: 260px;
					border: 1px solid #333;
					-moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.2);
					-moz-border-radius-bottomleft:0px;
					-moz-border-radius-bottomright:10px;
					-moz-border-radius-topleft:0px;
					-moz-border-radius-topright:10px;
					-webkit-border-top-right-radius: 10px;
					-webkit-border-bottom-right-radius: 10px;
					-webkit-border-top-left-radius: 0px;
					-webkit-border-bottom-left-radius: 0px;
					cursor: move;
					text-shadow: 0 -1px 1px rgba(0,0,0);
				}
				
				
				#navEE .navee_edit_form {
					display:none;
					background-color: #fff;
					margin-top: 10px;
					min-width: 500px;
				}
				
				#navEE #add_navItem {
					margin-top: 36px;
				}
				
				#navEE .navee_ee_tag {
					display:none;
					margin-top: 12px;
					color: #5F6C74;
					padding: 14px 30px;
					
				}
				
				#navEE .navee_ee_tag textarea {
					width: 75%;
					margin-top: 5px;
					padding: 1em;
					
				}
				
				#navEE div#navee_cp_nav div.navee_edit_form ol li {
					border: none;
				}
				
				#navEE .navee_optional {
					display:none;
				}
				
				/* Action boxes */
				#navEE .naveeCPForm, #add_navItem form, #add-nav-group form, .navee_ee_tag{
					background:#fff;
					width: 500px;
					border:1px solid #cbd1d2;
					-moz-box-shadow:1px 1px 7px rgba(153, 153, 153, 0.2);
					-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
					margin: 0;
					padding: 0;
				}
				
				
				
				
				
				#navEE .navee_optional h3 {
					margin-left: 34px;
					border-bottom: 1px dotted #B6C0C2;
					padding-bottom: 8px;
					width: 85%;
					margin-bottom: 8px;
				}
				
				#navEE ol.required, #navEE .navee_optional ol{
					list-style: none;
					color: #444;
					padding: 12px 20px;
					margin: 0;
					
					
				}
				
				#add_navItem ol.required li, #add-nav-group ol.required li, .navee_optional ol li {
					padding:2px 0 2px 20px;
				}
				
			
				#navEE ol.required li, #navEE .navee_optional ol li, #navEE ol.actions li {
					background: none;
					list-style: none;
					width: auto;
					margin-bottom: 8px;
				}
				#navEE ol.required li label, #navEE .navee_optional li label {
					font-size: 12px;
					margin-bottom: 4px;
				}
				
				
				
				#navEE ol.required input, #navEE .navee_optional input {
					-moz-border-radius:3px 3px 3px 3px;
					-webkit-border-radius:3px 3px 3px 3px;
					border:1px solid #B6C0C2;
					color:#5F6C74;
					padding:4px;
					width: 240px;
					font-size: 14px;
				}
				
				
				#navEE ul.actions {
					margin: 0 0 12px 38px;
					padding: 0;
					clear: both;
			
				}
				
				#navEE #navee_cp_nav ul.actions {
					background:none;
					font-size:14px;
					list-style:none;
					margin: 0 0 12px 38px;
					padding: 0;
				}
				
				
				#navEE #navee_cp_nav ul.actions li {
					background:none;
					margin: 0 8px 0 0;
					padding:0;
					width:auto;
				}
				#navEE ul.actions li {
					float: left;
					margin: 0 8px 0 0;
					padding: 0;
				}
				
				
				
				#navEE ul.actions li input, #navEE ul.actions li a {
					margin: 0;
				}
				
				#navEE a.btn, #navEE input.btn {
					color: #fff !important;
					font-size: 11px;
					border: none;
					font-family: Helvetica,Arial,sans-serif;
					padding: 8px 10px;
					line-height: 14px;
					text-decoration: none;
					font-weight: bold;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					cursor: pointer;
					-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
					-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
					text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
					-moz-border-radius:5px 5px 5px 5px !important;
					-webkit-border-radius:5px 5px 5px 5px !important;
				}
				
				/* #navEE input.btn {padding: 6px 10px;} */
				
				#navEE a.btn {display: inline-block; }
				
				#navEE a.action, #navEE input.action {
					border: 1px solid #870026;
					background: #870026;
					background:-moz-linear-gradient(center top , #e7174b, #870026);
					background: -webkit-gradient(linear,  left top, left bottom, from(#e7174b), to(#870026));
					color: #fff;
				}
				#navEE a.options {
					border: 1px solid #666;
					background: #74797e;
					background:-moz-linear-gradient(center top , #7a8d98, #74797e);
					background: -webkit-gradient(linear,  left top, left bottom, from(#7a8d98), to(#74797e));
					color: #fff;
				}
				#navee_add2Nav {
					position: absolute;
					top: 30px;
					left: 10px;
				}
				/* 
				#navEE .ui-sortable a.btn {
					
					left: 38px;
					
				}
				#navEE .ui-sortable input.btn {
					left: 140px;
					
				}
				#navEE .ui-sortable a.btn, #navEE .ui-sortable input.btn, #add_navItem form a.btn, #add_navItem form input.btn {
					bottom: 14px;
				}
				
				#add_navItem input#add-to-nav-btn, input.create-nav-group {
					left: 38px;
				}
				input.create-nav-group {bottom: 65px;}
				
				#add_navItem a.navee_optional_btn {
					left: 100px;
				} */
				#navEE .btn:hover {
					background: #444;
					border: 1px solid #333;
					
				}
				input.create-nav-group {
					margin: 0 0 12px 38px;
				}
				#navEE #nav-nav {
					position: absolute;
					right: 50px;
					top: -31px;
					padding: 0px;
				}
				
				#navEE #nav-nav:after {
					content:"Choose navs";
					color: #fff;
				}
				
				#navEE #nav-nav li {
					float: left;
					margin-right: 2px;
				}
				#navEE #nav-nav li a {
					color: #fff;
					display: block;
					font-size: 12px;
					padding: 6px 14px;
					-moz-border-radius:8px;
					-webkit-border-radius: 8px;
					-moz-box-shadow:0 0 2em #333333 inset;
					-webkit-box-shadow:0 0 2em #333333 inset;
					background:#adb6c2;

				}
				
				#navEE #nav-nav li a:hover {
					background: #7a8d98 url(../img/tabbies-over.gif) 0 0 repeat-x;
					text-decoration: none;
				}
				
				#add-nav-group li span {font-size: 12px; padding-left: 10px;}
				
				#navEE .pagesSelect {display:none;}
				
				
				.memberGroups {
					background: #f2f2f2;
					font-size: 14px;
					line-height: 18px;
					padding: 20px 0px;
					/*--CSS3 Rounded Corners--*/
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}
				
				#navEE .memberGroups li input[type='checkbox'] {
					width: 20px;
				}
				
				#navEE .navee_optional .memberGroups li  {
					font-size: .9em;
					margin-bottom: 3px;
				}
				#navEE #navee_cp_nav ul.memberGroups {
					background: #f2f2f2;
					font-size: 14px;
					line-height: 18px;
					padding: 20px 0px;
					color: #333;
					/*--CSS3 Rounded Corners--*/
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}
				#navEE div#navee_cp_nav ul ul.memberGroups {
					margin: 0;
				}
				
				