<!doctype HTML>
<!--[if lt IE 7]><html class="p-thanks_page noscript oldie" id="pg-contact" lang="en"> <![endif]-->
<!--[if lt IE 9]><html class="p-thanks_page noscript ie8" id="pg-contact" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="p-thanks_page noscript" id="pg-contact" lang="en"  ><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Thanks for getting in&ndash; touch : {site_name}</title>
		{sn-head_meta}
	</head>
	<body>
		<div id="gl-wrapper_page">
			{sn-header_pri}
			<h1 id="gl-section_title">Contact me</h1>
			<div id="gl-content_wrapper" class="clearfix">
				<section class="clearfix mod-gridunit gu-center gu-four" role="main">
						<h1 class="app-page_title">Ta muchly!</h1>	
						<div class="app-standfirst">
							<p>Thanks for getting in&ndash; touch. I'll get back to you as soon as I can.</p>
						</div>
						<a class="app-button ext-center app-ico ico-outline_back" href="{path='contact'}">Head on back</a>			
				</section>	
			</div>
		</div>
		{sn-page_footer}
	</body>		
</html>