<!doctype HTML>
<!--[if IE 7 ]>    <html class="noscript oldie ie7" id="pg-contact" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="noscript oldie ie8" id="pg-contact" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="noscript" id="pg-contact" lang="en"><!--<![endif]-->
	<head>
		<title>Jack Armley | Thanks for getting in touch</title>
		{snpt-meta}
	</head>
	<body class="clearfix">
		{snpt-header}
		<section id="gl-content_wrapper">
			<h1 class="app-page_title state-nopreceedingimg">Thanks for getting in touch</h1>
			<div id="gl-content-pri">
				<p>I'll get back to you as soon as I'm able.</p>
			</div>	
		</section>
	</body>		
</html>